// ----------------------------------------------
//		content
// ----------------------------------------------
.content {
  padding: 40px 50px 50px 66px;

  &__top-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;

    @media only screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;

    @media only screen and (max-width: 768px) {
      justify-content: space-around;
    }
  }

  &__pizza {
    margin: 0 10px;
  }

  &__title {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media only screen and (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media only screen and (max-width: 480px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.categories {
  &__item {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    padding: 14px 28px;
    background-color: #f9f9f9;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;

    &_active {
      color: #fff;
      background-color: #282828;

     
    }

    &:hover {
      background-color: #ececec;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    }
    &:active {
      box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.04);
    }

    @media only screen and (max-width: 768px) {
      font-size: 14px;
      width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
      margin: 0 0 10px;
    }
    @media only screen and (max-width: 480px) {
      width: auto;
    }
  }

  &__item_active {
    &:hover {
      background-color: rgba(40, 40, 40, 0.685);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    }
    &:active {
      box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.5);
    }
  }


  &__list {
    @media only screen and (max-width: 1200px) {
      right: auto;
      left: 130px;
      margin-bottom: 15px;
    }
    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    @media only screen and (max-width: 480px) {
      flex-direction: column;
    }
  }
}

.sort {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3px;
  padding: 14px 0 14px 20px;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
  }

  &__label {
    // cursor: pointer;
  }
  &__sort-popup {
    top: 40px;
    right: 0;

    @media only screen and (max-width: 1200px) {
      right: auto;
      left: 130px;
    }
  }
  &__selected-item {
    color: $accent-color;
    font-weight: normal;
    border-bottom: 1px dashed #fe5f1e;
    cursor: pointer;
  }
}

.sort-popup {
  position: absolute;
  background: #ffffff;
  padding: 18px 0 12px 0;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);

  &__item {
    list-style-type: none;
    padding: 11px 16px;
    cursor: pointer;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: rgba(254, 95, 30, 0.05);
    }

    &_active {
      color: $accent-color;
      background-color: rgba(254, 95, 30, 0.05);
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
  }
}

.pizza {
  max-width: 280px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  flex: 1 1 200px;
  margin-bottom: 55px;

  &__img-wrap {
    max-height: 260px;
    max-width: 260px;
    margin: 0 auto 12px auto;
    transition: transform 0.25s ease;

    &:hover {
      transform: translate(0, 3px);
    }
  }

  &__img {
    max-width: 100%;
  }

  &__name {
    font-size: 20px;
    margin-bottom: 22px;
  }

  &__options {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 17px;
  }

  &__base-list {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
  }

  &__base {
    flex: 0 1 50%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.25s ease, background-color 0.25s ease;

    &:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    }
    &_active {
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    }
    &_disable {
      color: $disable;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &__size-list {
    display: flex;
    justify-content: center;
  }

  &__size {
    flex: 0 0 33.3333%;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.25s ease, background-color 0.25s ease;

    &:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    }
    &_active {
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    }
    &_disable {
      color: $disable;
      
      &:hover {
        box-shadow: none;
      }
    }
  }

  &__bot-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__price {
    position: relative;
    font-size: 22px;
    text-align: left;
    padding-right: 30px;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      right: 0;
    }

    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
    @media only screen and (max-width: 480px) {
      font-size: 18px;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: $accent-color;
    padding: 11px 14px 11px 14px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid $accent-color;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.25s ease, background-color 0.25s ease,
      color 0.25s ease;

    &:hover {
      background-color: $accent-color;
      color: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

      .pizza__count-wrap {
        background-color: #fff;
      }
      .pizza__count {
        color: $accent-color;
      }
    }

    &:active {
      box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &__btn-text {
    margin: 0 5px;
  }

  &__count-wrap {
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $accent-color;
    transition: background-color 0.25s ease;
  }

  &__count {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 13px;
    color: #ffffff;
    transition: color 0.25s ease, background-color 0.25s ease;
  }
}
