// ----------------------------------------------
//		profile
// ----------------------------------------------
.profile {
  &__container {
    max-width: 625px;

    @media only screen and (max-width: 1200px) {
      max-width: 425px;
    }
  }
}

.profile-form {
  &__btns {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__textarea {
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    margin-bottom: 35px;
  }
}
