// ----------------------------------------------
//		box-sizing
// ----------------------------------------------
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// ----------------------------------------------
//		common
// ----------------------------------------------
body {
  font-size: 16px;
  line-height: 1, 1875;
  font-family: 'Proxima Nova', Roboto, sans-serif;
  color: $text-color;
  overflow-x: hidden;
  background-color: #ffdf8c;
  padding: 45px;

  // — убирает синее подсвечивание при клике на девайсах.
  -webkit-tap-highlight-color: transparent;

  @media only screen and (max-width: 992px) {
    padding: 25px;
  }
  @media only screen and (max-width: 768px) {
    padding: 15px;
  }
  @media only screen and (max-width: 480px) {
    padding: 5px;
  }

}

.hidden {
  display: none;
}

.link {
  text-decoration: none;
  color: $text-color;
  transition: color 0.25s ease;
  outline: none;

  &:link {
    outline: none;
  }
  &:visited {
  }
  &:hover {
    color: $accent-color;
  }
  &:active {
    color: $accent-color;
  }
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  @media only screen and (max-width: 1200px) {
    max-width: none;
    padding: 0 15px;
    // max-width: 970px;
  }
  // @media only screen and (max-width: 992px) {
  //   max-width: 750px;
  // }
  @media only screen and (max-width: 768px) {
    padding: 0 10px;
  }
  @media only screen and (max-width: 480px) {
    padding: 0 5px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 24px;

  @media only screen and (max-width: 768px) {
    font-size: 22px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 20px;
  }
}

h2 {
  font-size: 32px;

  @media only screen and (max-width: 768px) {
    font-size: 28px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 22px;

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }
}

h4 {
  font-size: 16px;
}

.button {
  font-size: 16px;
  padding: 20px 34px 16px 34px;
  background-color: $accent-color;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    padding: 15px 29px 11px 29px;
  }
  @media only screen and (max-width: 480px) {
    // padding: 10px 24px 6px 24px;
  }
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
