// ----------------------------------------------
//		vars
// ----------------------------------------------
$accent-color: #FE5F1E;
$text-color: #2C2C2C;
$text-lighter: #7B7B7B;
$disable: #cbcbcb;



